/***************************
jQuery Best Responsive tabs
Author: Niladri Shekhar Mondal <nldrmondal35@gmail.com>
URL: https://nilgems.github.io/Best-Jquery-Responsive-Tabs/
*****************************/
.best-responsive-tab.lgTabToggle-tab-responsive-active > .best-reponsive-tab-item {
    display: block
}
.best-responsive-tab.lgTabToggle-tab-responsive-active > .best-reponsive-tab-item > .best-reponsive-tab-item-trigger {
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transition: background 0.3s ease-in;
    -webkit-transition: background 0.3s ease-in;
    -o-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}
.best-responsive-tab.lgTabToggle-tab-responsive-active > .best-reponsive-tab-item > .best-reponsive-tab-item-trigger.lgTabToggle-tab-active,
.best-responsive-tab.lgTabToggle-tab-responsive-active > .best-reponsive-tab-item > .best-reponsive-tab-item-trigger:hover {
    background-color: red;
    color: #fff;
}
.best-responsive-tab.lgTabToggle-tab-responsive-active > .best-reponsive-tab-item > .best-reponsive-tab-item-content-triggerer:not(.lgTabToggle-tab-content-active) {
    display: none;
}
.best-responsive-tab > .best-reponsive-tab-item > .best-reponsive-tab-item-content-triggerer {
    padding: 10px 15px;
    border:1px solid transparent;
    border-left-color: #ddd;
    border-right-color: #ddd;
}
.best-responsive-tab > .best-reponsive-tab-item:last-of-type > .best-reponsive-tab-item-content-triggerer {
    border-bottom-color: #ddd;
}